/* Header */
header.background {
	height: 40vh;
	background-attachment: scroll;
}

/* header nav menu li:not(:last-child):after {
	margin-inline: 0.2rem;
} */

header .banner {
	justify-content: center;
}

header .banner .principal {
	align-items: center;
}

header .banner .principal h1 {
	--default-font-size: clamp(2.5rem, 5vw, 3.5rem);
	font-size: var(--default-font-size);
	line-height: var(--default-font-size);
	border: none;
	text-shadow: 0 0 1rem var(--default-box-shadow-color);
	display: flex;
	flex-direction: column;
	align-items: center;
}

header .banner .principal h1 small {
	font-size: clamp(1.5rem, 3vw, 2rem);
	line-height: clamp(1.5rem, 3vw, 2rem);
	color: var(--light-yellow);
}
/* End Header */

/* Main */
main .options {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

main .options .options-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
	gap: 1rem;
}

main .options .options-container details summary {
	background-color: var(--light-yellow);
	padding: 0 var(--default-inline-padding);
	border-radius: 1rem;
	cursor: pointer;
}

main .options .options-container details[open] summary {
	border-radius: 1rem 1rem 0 0;
}

main .options .options-container details[open] ul {
	background-color: var(--real-white);
	padding: 0.5rem 1.8rem;
	border: 1px solid var(--light-yellow);
	border-top: none;
	border-radius: 0 0 1rem 1rem;
}

main .options .options-container .option a {
	position: relative;
	color: var(--dark-emerald-green);
	font-weight: 700;
	text-decoration: none;
}

main .options .options-container .option a:hover {
	color: var(--dark-gold);
}

main .options .options-container .option a::after {
	content: "";
	background-color: var(--dark-gold);
	width: 0;
	height: 1.5px;
	position: absolute;
	left: 0;
	bottom: -1px;
	transition: width var(--default-transition-duration);
}

main .options .options-container .option a:hover::after {
	width: 100%;
}
/* EndMain */
