@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Righteous&display=swap");

:root {
	--white: #f1fff1;
	--real-white: #fefffe;
	--emerald: #25d366;
	--light-green: #03a64a;
	--dark-emerald-green: #137547ff;
	--dark-green: #1d5131;
	--light-yellow: #ebdf7b;
	--mustard: #edc531ff;
	--gold: #b69121ff;
	--dark-gold: rgb(130, 89, 14);

	--default-text-color: #010;
	--default-box-shadow-color: rgba(0, 0, 0, 0.5);
	--default-inline-padding: 1rem;
	--default-transition-duration: 120ms;
	--default-border-radius: 0.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Poppins, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;
	overflow-x: hidden;
	background-color: var(--white);
	color: var(--default-text-color);
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

main {
	width: 100%;
	display: flex;
	flex-direction: column;
}

main section {
	width: clamp(280px, 1200px, 100%);
	margin: auto;
	padding: var(--default-inline-padding) calc(2 * var(--default-inline-padding));
}

main section h2 {
	color: var(--dark-green);
}

h2 {
	font-size: clamp(1.6rem, 5vw, 2rem);
}

button,
a.btn-special {
	padding: 0.5rem 1rem;
	background-color: var(--dark-green);
	outline: none;
	border: none;
	border-radius: var(--default-border-radius);
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 700;
	letter-spacing: 2px;
	transition: var(--default-transition-duration);
	cursor: pointer;
}

button:hover,
a.btn-special:hover {
	background-color: var(--light-green);
}


a.btn {
	padding: 0.5rem;
	border-radius: 2rem;
	color: var(--real-white);
	font-weight: 600;
	font-size: 1rem;
	text-decoration: none;
	text-align: center;
	transition: background-color var(--default-transition-duration);
}

a.btn.form-link {
	background-color: var(--dark-emerald-green);
}

a.btn.form-link:hover {
	background-color: var(--dark-green);
}

a.btn.alt-form-link {
	background-color: var(--gold);
}

a.btn.alt-form-link:hover {
	background-color: var(--dark-gold);
}

a.whatsapp-button {
	--default-size: calc(3 * var(--default-inline-padding));
	--default-padding: 0.5rem;
	width: var(--default-size);
	height: var(--default-size);
	padding: var(--default-padding);
	background-color: var(--emerald);
	position: fixed;
	right: calc(1.5 * var(--default-inline-padding));
	bottom: calc(1.5 * var(--default-inline-padding));
	display: flex;
	justify-content: center;
	align-items: center;
	gap: var(--default-padding);
	border-radius: var(--default-size);
	text-decoration: none;
	color: var(--real-white);
	font-size: 2rem;
	box-shadow: 0 0 2rem var(--default-box-shadow-color);
	overflow: hidden;
	transition: var(--default-transition-duration);
}

a.whatsapp-button:hover {
	width: calc(3 * var(--default-size) + 3 * var(--default-padding));
}

a.whatsapp-button:hover::before {
	content: "Fale conosco";
	font-size: 1rem;
	text-wrap: nowrap;
}

/* Global Classes */
.img-container,
.img-container a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.img-container img {
	width: 100%;
}

.content-wrapper {
	max-width: 1100px;
	margin: auto;
	display: flex;
	gap: 3rem;
}

.carousel-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.carousel-container .carousel {
	overflow: hidden;
	overflow-x: scroll;
	scroll-snap-type: x mandatory;
}

.carousel-container .carousel::-webkit-scrollbar {
	display: none;
}

.carousel-container .carousel .carousel-inner {
	display: flex;
	justify-content: space-evenly;
}

.carousel-container .carousel .carousel-inner .carousel-item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	user-select: none;
	scroll-snap-align: center;
	text-align: center;
}

.cards-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	gap: 2rem;
}

.cards-container .card {
	--default-box-shadow-color: rgb(0, 0, 0, 0.15);
	--default-transition-duration: 0.2s;
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	padding-bottom: 1rem;
	background-color: var(--real-white);
	box-shadow: 0 0.5rem 1.5rem var(--default-box-shadow-color);
	border-radius: 0 2rem;
	overflow: hidden;
}

.cards-container .card-header {
	height: 180px;
	overflow: hidden;
}

.cards-container .card-header img {
	width: 100%;
}

.cards-container .card-body {
	padding: 0 1rem;
	flex: 1;
	display: flex;
	justify-content: space-between;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 0.8rem;
}

.cards-container .card-body > div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	gap: 0.5rem;
}

.price {
	font-size: 1.25rem;
	font-weight: 800;
	position: relative;
}

.price .price-tag {
	background-color: var(--light-green);
	padding: 0 0.2rem;
	position: absolute;
	top: -0.65rem;
	right: -1.6rem;
	border-radius: 0.3rem;
	font-size: 0.7rem;
	color: var(--real-white);
	font-weight: 700;
	transform: rotate(10deg);
	animation: scale 1.5s infinite;
}

@keyframes scale {
	0% {
		scale: 1;
	}
	50% {
		scale: 1.1;
	}
	100% {
		scale: 1;
	}
}
